@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
:root{
    --bgPage: #3f3a6f;
    --bgScrow: #3F3A6F;
    --colorText: #fff;
    --FamilyFont: 'DM Mono', monospace;
    --bgCard: #443960;
    --bgCardOpacity: rgba(68, 57, 96, 0.8);
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background: var(--bgPage);
    color: var(--colorText);
    font-family: var(--FamilyFont);
}
a 
{
    text-decoration: none;
}
.card-list 
{
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar 
{
    width: 10px;
    height: 10px;
}
.card-list::-webkit-scrollbar-thumb 
{
    background: var(--bgScrow);
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(246,31%,33%,.25), inset -2px -2px 2px rgba(63,65,111,.25);
}
.card-list::-webkit-scrollbar-track 
{
    background: linear-gradient(90deg,#3F3A6F,#3F3A6F 1px,#564f96 0,#564f96);
}
.card 
{
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    background: var(--bgCard);
    box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    border: 0.4rem solid rgba(68, 57, 96, 0.1);
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}
@supports ((-webkit-backdrop-filter: blur();) or (backdrop-filter: blur()))
{
    .card
    { 
        background: var(--bgCardOpacity);
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }

}
.card:hover
{
    box-shadow: 0rem 0rem 2rem rgba(230, 43, 255, 0.3);
    transform: translateY(-1rem);
    z-index: 10;
}
/*seleciona todos os .card que estão depois do .card:hover*/
.card:hover~.card
{
    transform: translateX(130px);
}
.card:not(:first-child)
{
    margin-left: -130px;
}